#tooltip {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    padding: 10px 20px;
    border-radius: 8px;
    display: none;
    font-size: 0.9rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.tooltip-success {
    background: #d1e7dd;
    color: #0f5132;
}

.tooltip-error {
    background: #f8d7da;
    color: #842029;
}

.photo-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100px;
    height: 100px;
}
#pageNumbers .btn {
    border: none !important;
    box-shadow: none !important;
}
.photo-wrapper img {
    object-fit: cover;
    border: 2px solid #ddd;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.edit-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    color: #6c757d;
}

.photo-wrapper:hover .edit-icon {
    opacity: 1;
}

.photo-wrapper input[type="file"] {
    display: none;
}
.paginate_button .page-item {
    color:black !important;
}
